<footer class="footer default-space">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__column footer__info">
                <div class="footer__title">Информация</div>
                <div class="footer__item">
                    ул. Пушкина, дом.<br>
                    Колотушкина
                </div>
                <div class="footer__item">
                    ПН-ПТ: c 09:00 до 18:00
                </div>
                <div class="footer__item">
                    СБ-ВС: Выходной
                </div>
            </div>
            <div class="footer__column">
                <div class="footer__title">О компании</div>
                <div class="footer__item">
                    <a href="#">Новости</a>
                </div>
                <div class="footer__item">
                    <a href="#">Блог</a>
                </div>
                <div class="footer__item">
                    <a href="#">Документы</a>
                </div>
            </div>
            <div class="footer__column">
                <div class="footer__title">Помощь</div>
                <div class="footer__item">
                    <a href="#">Написать нам</a>
                </div>
                <div class="footer__item">
                    <a href="#">FAQ</a>
                </div>
            </div>
            <div class="footer__column">
                <div class="footer__title">Услуги</div>
                <div class="footer__item">
                    <a href="#">Интернет</a>
                </div>
                <div class="footer__item">
                    <a href="#">Телевидение</a>
                </div>
                <div class="footer__item">
                    <a href="#">Камеры</a>
                </div>
            </div>
            <div class="footer__column footer__contacts">
                <div class="footer__title">
                    Связь с нами
                </div>
                <div class="footer__item footer__phone">
                    <a href="tel:">+7(800)555-35-35</a>
                </div>
                <div class="footer__item footer__soc">
                    <a href="#"><img src="./assets/images/footer_vk.svg" alt="vk"></a>
                    <a href="#"><img src="./assets/images/footer_tg.svg" alt="tg"></a>
                    <a href="#"><img src="./assets/images/footer_wa.svg" alt="wa"></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<div id="wrapper">
    <div class="modal modal__feedback">
        <form action="#" class="modal__form">
            <input type="text" placeholder="Телефон">
            <button class="btn__main">Оставить заявку</button>
        </form>
    </div>
</div>
<script src="./assets/js/jquery-3.6.1.min.js"></script>
<script src="./assets/js/slick.min.js"></script>
<script src="./assets/js/main.js"></script>
</body>

</html>