<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/main.min.css">
    <link rel="stylesheet" href="./assets/css/slick.css">
    <title>Document</title>
</head>

<body>
    <div class="pre-loader">
    </div>
    <header class="header need-animate">
        <nav class="nav_top">
            <div class="container">
                <ul class="nav_top__list">
                    <li><a href="#">Помощь</a></li>
                    <li><a href="#">Оплата</a></li>
                    <li><a href="#">Личный кабинет</a></li>
                    <li class="nav_top__list-soc">
                        <a href="#">
                            <img src="./assets/images/vk_top.png" alt="vk">
                        </a>
                        <a href="#">
                            <img src="./assets/images/tg_top.png" alt="tg">
                        </a>
                        <a href="#">
                            <img src="./assets/images/wa_top.png" alt="wa">
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="header-main">
            <div class="container">
                <div class="header-main__inner">
                    <div class="logo">
                        <img src="./assets/images/logo.png" alt="logo">
                    </div>
                    <nav class="header-main__nav">
                        <ul class="header-main__list">
                            <li><a href="#">Главная</a></li>
                            <li><a href="#">Тарифы</a></li>
                            <li><a href="#">Телевидение</a></li>
                            <li><a href="#">Камеры</a></li>
                        </ul>
                    </nav>
                    <div class="header-main__btn">
                        <button class="btn__main" data-modal="feedback">Оставить заявку</button>
                    </div>
                    <div class="burger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>

                    <nav class="header-main__nav_mobile">
                        <ul class="header-main__list_mobile">
                            <li><a href="#">Главная</a></li>
                            <li><a href="#">Тарифы</a></li>
                            <li><a href="#">Телевидение</a></li>
                            <li><a href="#">Камеры</a></li>
                            <li>
                                <a href="#" class="btn__main">Оставить заявку</a>
                            </li>
                            <li class="nav__soc_mob">
                                <a href="#">
                                    <img src="./assets/images/vk_top.png" alt="vk">
                                </a>
                                <a href="#">
                                    <img src="./assets/images/tg_top.png" alt="tg">
                                </a>
                                <a href="#">
                                    <img src="./assets/images/wa_top.png" alt="wa">
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>